<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<div th:replace="fragments/base-layout :: html_head(title='My Orders')"></div>-->
<body>
<div th:replace="fragments/base-layout :: header"></div>
<div class="container content mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2>My Orders</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Order ID</th>
          <th>Total Amount</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody class="order-table" >
        <tr th:each="order : ${orders}" >
          <td th:text="${order.orderCode}"></td>
          <td th:text="${order.total}"></td>
          <td>
            <span class="badge badge-large" th:switch="${order.status.description.getStatus()}">
                <span th:case="'PENDING'" class="badge bg-secondary badge-lg">Pending</span>
                <span th:case="'SHIPPED'" class="badge bg-primary badge-lg">Shipped</span>
                <span th:case="'DELIVERED'" class="badge bg-success badge-lg ">Delivered</span>
                <span th:case="'PROCESSING'" class="badge bg-info badge-lg">Processing</span>
                <span th:case="'CANCELLED'" class="badge bg-danger badge-lg">Cancelled</span>
                <span th:case="'REJECTED'" class="badge bg-danger badge-lg">Rejected</span>
                <span th:case="*" class="badge bg-light"></span>
            </span>
          </td>
          <td th:class="detail-button">
            <a th:href="@{ '/my-orders/' + ${order.orderCode}}" class="btn btn-info btn-sm"> View Detail </a>
          </td>
          <td>
              <span th:if="${order.status.description.getStatus()} == 'PENDING'" class="d-flex align-items-center justify-content-center">
                  <button type="button" class="btn btn-danger btn-sm" th:attr="data-id=${order.orderCode}" id="cancel-button-id" onclick="showCancelConfirmation(this)">Cancel Order</button>
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div th:replace="fragments/base-layout :: footer"></div>
</body>
</html>
