<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<div th:replace="fragments/base-layout :: html_head(title='Sign up')"></div>-->
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/auth.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<!--<div th:replace="fragments/base-layout :: header"></div>-->

<div class="main">
    <div class="container " >
        <div class="alert alert-success registration_success" th:if="${registrationSuccess == true}" >
            <span> Registration completed successfully </span>
        </div>
        <form class="form" method="post" th:action="@{/registration}" th:object="${user}">
            <h2 class="form_title title">
                <a href="/" class="navbar-brand"><img class="ml-minus40" height="70" src="/images/logo.jpg"></a>
                Create Account
            </h2>
            <div class="form__icons">
                <img class="form__icon" src="images/facebook_logo.png" alt="Icon 1">
                <img class="form__icon" src="images/google_logo.png" alt="Icon 2">
            </div>
            <span class="form__span">or use email for registration</span>
            <input class="form__input" th:field="*{name}" required autofocus="autofocus" type="text" placeholder="Name">
            <input class="form__input" th:field="*{email}" required  type="text" placeholder="Email">
            <input class="form__input" th:field="*{password}" required  type="password" placeholder="Password">
            <input class="form__input" th:field="*{confirmPassword}" required  type="password" placeholder="Confirm Password">

            <div th:if="${error != null}" class="alert alert-danger form_error">
                <span th:text="${error}"></span>
            </div>
            <button class="form__button button" type="submit">SIGN UP</button>
        </form>
    </div>
    <div class="switch" id="switch-cnt">
        <div class="switch__container" id="switch-c1">
            <h2 class="switch__title">Welcome Back !</h2>
            <p class="switch__description description">To keep connected with us please log in with your personal info</p>
            <a th:href="@{/login}"> <button class="button">SIGN IN</button>></a>
        </div>
    </div>
</div>


<script>
    var registrationSuccess = [[${registrationSuccess}]];
    if (registrationSuccess) {
        setTimeout(function() {
            window.location.href = "/login";
        }, 2000);
    }
</script>
</body>
</html>