<nav class="ss-menu">

    <ul>
        <li><a th:href="@{/admin/users/}"><i class="fa-solid fa-user"></i> User</a></li>
        <li><a th:href="@{/admin/orders/}"><i class="fa-solid fa-bag-shopping"></i> Order</a></li>
        <li><a th:href="@{/admin/products}"><i class="fa-solid fa-box"></i> Product</a></li>
        <li><a th:href="@{/admin/add_product}"><i class="fa-solid fa-plus"></i> Add Product</a></li>
    </ul>
</nav>
<script type="text/javascript">
    $(function(){
        $(".ss-menu").ssMenu();
    });
</script>