<!--<script type="text/javascript" src="../../static/js/cart.js"></script>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div th:replace="fragments/base-layout :: header(title='My Cart')"></div>
<body>
<!--<div th:replace="fragments/base-layout :: header"></div>-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>My Cart</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Product Image</th>
                    <th>Product Category</th>
                    <th>Product Name</th>
                    <th>Product Amount</th>
                    <th>Total value</th>
                    <th>Actions</th> <!-- Thêm cột Actions -->
                </tr>
                </thead>
                <tbody class="cart-table">
                <tr th:each="cartDetail, rowStat : ${cartDetails}" th:data-product-id="${cartDetail.product.id}">

                    <td th:text="${rowStat.count}"></td>
<!--                    render image -->
                    <td><img th:src="${cartDetail.product.image}" width="250" height="250"></td>
                    <td th:text="${cartDetail.product.category.name}"></td>
                    <td th:text="${cartDetail.product.name}"></td>
                    <td th:text="${cartDetail.amount}"></td>
                    <td th:text="${cartDetail.price}"></td>

                    <td>
                        <!-- Thêm nút "Add" và "Remove" -->
                        <button th:onclick="'addItemToCart(\'' + ${cartDetail.product.id} + '\')'" class="btn btn-primary">Add</button>
                        <button th:onclick="'removeItemFromCart(\'' + ${cartDetail.product.id} + '\')'" class="btn btn-danger">Remove</button>
                    </td>
                </tr>

                </tbody>
                <thead>
                <tbody class="cart-table">
                    <tr>
                        <td colspan="5" class="text-right">Total</td>
                        <td
                                th:text="${total} + ' $'"
                                class="cart-total"
                        ></td>
                        <td class="text-right">
                            <button onclick="place()" class="btn btn-success btn-block">
                                <i class="fas fa-shopping-cart mr-2"></i>
                                Place Order
                            </button>
                        </td>
                    </tr>

            </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/base-layout :: footer"></div>

</body>
</html>
