<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/base-layout :: html_head(title='My Orders')"></div>
<body>
<div th:replace="fragments/base-layout :: header"></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2>Đơn hàng đã đặt</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Mã đơn hàng</th>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Tổng tiền sản phẩm</th>
          <th>Tổng tiền đơn hàng</th>
          <th>Trạng thái</th>
          <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
          <td th:text="${order.orderId}"></td>
          <td>
            <ul>
              <li th:each="product : ${order.products}">
                <span th:text="${product.name}"></span>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li th:each="product : ${order.products}">
                <span th:text="${product.price}"></span>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li th:each="product : ${order.products}">
                <span th:text="${product.quantity}"></span>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li th:each="product : ${order.products}">
                <span th:text="${product.price * product.quantity}"></span>
              </li>
            </ul>
          </td>
          <td th:text="${order.calculateTotalAmount()}"></td>
          <td th:text="${order.status}"></td>
          <td>
            <a th:href="'/order/' + ${order.orderId}" class="btn btn-info btn-sm">Xem chi tiết</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div th:replace="fragments/base-layout :: footer"></div>
</body>
</html>
