<div class="content-wrapper">
    <div th:replace="fragments/admin/base-layout"></div>

    <section class="content" style="margin-left:50px; padding:20px">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Order List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>

                                    <th>Order date</th>
                                    <th>Customer's name</th>
                                    <th>Customer's phone</th>
                                    <th>Customer's address</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                                                <tbody>
                                                                <tr th:each="order : ${orders}">

                                                                    <td th:text="${order.orderDate}"></td>
                                                                    <td th:text="${order.fullname}"></td>
                                                                    <td th:text="${order.phoneNumber}"></td>
                                                                    <td th:text="${order.address}"></td>
                                                                    <td th:switch="${order.status.description.getStatus()}">
                                                                        <span class="badge bg-secondary" th:case="'PENDING'">Pending</span>
                                                                        <span class="badge bg-primary" th:case="'SHIPPED'">Shipped</span>
                                                                        <span class="badge bg-success" th:case="'DELIVERED'">Delivered</span>
                                                                        <span class="badge bg-info" th:case="'PROCESSING'">Processing</span>
                                                                        <span class="badge bg-danger" th:case="'CANCELLED'">Cancelled</span>
                                                                        <span class="badge bg-danger" th:case="'REJECTED'">Rejected</span>
                                                                        <span class="badge bg-light" th:case="*">Unknown</span>
                                                                    </td>
                                                                    <td><a th:href="@{'/admin/orders/' + ${order.id}}"> <i
                                                                            class="fas fa-eye text-primary"></i>
                                                                    </a> <a th:href="@{'/admin/orders/edit/' + ${order.id}}"> <i
                                                                            class="fas fa-edit text-info"></i>
                                                                    </a> <a th:href="@{'/admin/orders/delete/' + ${order.id}}"> <i
                                                                            class="fas fa-trash-alt text-danger"></i>
                                                                    </a></td>
                                                                </tr>
                                                                </tbody>


                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</div>
</html>